section.doctor-register, section.account-settings {
  .sec-title {
    text-align: center;
    color: h.$primary;
    margin-bottom: 35px;
  }
  .form-container {
    transition: all 0.5s;
    max-width: 830px;
    padding: 30px 40px;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 10px;
    width: 100%;
    input:not([type="search"]),
    .vs__dropdown-toggle {
      background-color: #f8f9fd;
      box-shadow: none;
      min-height: 40px;
      font-size: 0.9rem;
      &:not(.is-invalid) {
        border: 1px solid #e3eef8;
      }
    }
    .vs__dropdown-toggle {
      input {
        color: #495057;
      }
    }
    .v-select.is-invalid {
      .vs__dropdown-toggle {
        border: 1px solid #dc3545;
      }
    }
    label {
      color: #505050;
      font-weight: bold;
      font-size: 1rem;
      margin-bottom: 10px;
    }
    .form-row {
      .col {
        &:first-of-type {
          @include h.appDirAuto($padding-end: 25px);
        }
        &:last-of-type {
          @include h.appDirAuto($padding-start: 25px);
        }
      }
    }
    .form-group {
      margin-bottom: 20px;
    }
    .cta-container {
      display: flex;
      width: 100%;
      padding: 10px 0;
      justify-content: flex-end;
      align-items: center;
      button {
        font-size: 0.8rem;
        padding: 0;
        width: 115px;
        height: 35px;
        .icon {
          @include h.appDirAuto($margin-start: 10px);
          svg path {
            fill: white;
          }
        }
      }
      p {
        font-size: 0.9rem;
        a {
          color: h.$primary;
        }
      }
    }
  }
}
