section.doctor-profile,
section.lab-profile {
  padding-top: 0;
  .profile-header {
    overflow: hidden;
    height: 325px;
    position: relative;
  }
  hr {
    margin-bottom: 0.8rem;
  }
  .profile-body {
    position: relative;
    top: -90px;
  }
  .suffix {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .profile-views {
    svg {
      width: 20px;
      height: auto;
      @include h.appDirAuto($margin-end: 10px);
      path {
        fill: h.$primary;
      }
    }
  }
  .profile-views {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
